.footerContainer{
    background-color: $secondBg;
    height: 80px;
    display: flex;
    margin-top: 200px;
}
.footerContainer ul{
    display: flex;
    list-style: none;
}
.footerIcon{
    width: 40px;
    height: 40px;
    padding: 5px;
}
.footerContainer p{
    text-align: center;
    margin-left: 620px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1px;
    color: $textColor1;
    text-shadow:
    0 0 2px $textColor1,
    0 0 2px $textColor1,
    0 0 2px $textColor1,
}